* {
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font: 1rem Arial, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.422);
  justify-content: space-between;
}
#sec1 > a > img {
  height: 2rem;
  margin: 1rem 1.75rem 0.75rem 2rem;
}
/* select, option {
  text-align: center;
} */
#left,
#right,
#phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#left,
#phone {
  gap: 2.5rem;
}
#right {
  gap: 0.75rem;
  margin-right: 2.15rem;
}
#lang {
  color: #ffffff;
  background: none;     
  border: none;
  padding: 0.35rem 0rem 0.35rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  appearance: none;
}
#langicon {
  position: absolute;
  margin-left: -1.5rem;
  margin-top: 0.3rem;
}
a:hover {
  color: #ccff00;
}
#btn1 {
  background: transparent;
  border-radius: 36px;
  color: #ccff00;
  padding: 0.75rem 2.25rem 0.75rem 2.25rem;
  font-size: 1rem;
  border: 0.075rem solid #ccff00;
}
#btn2,
#btn3,
#btn4 {
  color: black;
  border-radius: 36px;
  background-color: #ccff00;
  padding: 0.75rem 2.25rem 0.75rem 2.25rem;
  font-size: 1rem;
  border: 0.075rem solid #ccff00;
}
#btn3 {
  background-color: #ffffff;
  color: black;
  border-color: #ffffff;
}
input[type="button"]:hover {
  opacity: 85%;
}
#lang::after {
  border: none;
}
#wwoffer {
  border: none;
  font-size: 1rem;
  appearance: none;
}
h1 {
  font-size: 5.5rem;
  line-height: 5.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0 0 2rem 0;
  color: #ccff00;
}
p {
  margin: 0 0 2rem 0;
  line-height: 1.65rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#footer {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; 
  background-color: #ccff00;
  color: #000;
  margin: 0;
  padding-top: 1.5rem;
}
#ftop > span:nth-child(1) {
  margin-left: 2rem;
}
.fsa {
  text-decoration: underline;
}
#ftop > span:nth-child(2) {
  margin: 0rem 0rem 0rem 20rem;
}
#footer>span>span, #socials {
  display: inline-flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-left: 1.5rem;
  justify-content: space-between;
}
span>a, #footer>span, #footer>span>span, #socials, span>a>i, hr {
  background-color: transparent;
  color: #000;
}
#footer>p {
  background-color: transparent;
  color: #000;
  text-align: center;
  font-size: 19rem;
  max-width: 100%;
  line-height: 20rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#hr {
  background-color: #000;
  color: #000;
  border: 0.01rem solid #000;
  margin-top: 1.5rem;
}
ul {
  font-size: 1rem;
  background-color: transparent;
  font-family: Helvetica, sans-serif;
  list-style-type: none;
}
li>a, li {
  margin-bottom: 2.25vh;
  background-color: transparent;
  color: #000;
}
.lhead {
  font-weight: 600;
  margin-bottom: 1.75rem;
}
.footlist {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-left: -3rem;
  line-height: 1.75rem;
}
#pre, b {
  background-color: transparent;
  color: #000;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
#dd1, #dd2 {
  margin-left: 0.25rem;
}
#tlogo {
 color: #000;
  background: transparent;
  width: 1rem;
  height: 1rem;
}
.flink:hover {
  opacity: 85%;
  color: #000;
}
.flink {
  text-decoration: underline;
}
#vid1 {
 height: 116vh;
 width: 100%;
 object-fit: cover;
 margin-top: 1.1rem;
}
#p1 {
  position: absolute;
  top: 11.15rem;
  color: white;
  background: transparent;
  margin-left: 12.8rem;
}
#p1 > span:nth-child(1) {
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.359);
  word-spacing: -0.1rem;
  background: transparent;
}
#p1 > span:nth-child(3) {
  font-size: 4.8rem;
  font-family: Martina Plantijn, serif;
  background: linear-gradient(rgb(148, 129, 76) 0%, rgb(207, 185, 125) 100%) text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 5rem;
  word-spacing: -0.4rem;
  position: relative;
  z-index: 1;
  top: 2rem;
  
}
#p1 > span:nth-child(5) {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  color: #fffffff1;
  position: relative;
  top: 4rem;
  background: transparent;
}
#p1 > span:nth-child(7) {
  font-size: 0.8rem;
  font-family: Helvetica, sans-serif;
  color: #bfbfbf;
  position: relative;
  top: 4.5rem;
  background: transparent;
}
#infoicon {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.3rem 0rem 0rem 0rem;
  background: transparent;
}
#p1 > span:nth-child(9) {
  font-size: 0.8rem;
  font-family: Helvetica, sans-serif;
  color: #bfbfbf;
  position: relative;
  top: 6rem;
  background: transparent;
}
#main2 {
 height: 116vh;
 width: 100%;
 background: url('assets/bg2.jpg') no-repeat;
 background-position: center;
 background-size: cover;
 margin: 0;
}
#p2 {
  position: absolute;
  top: 75rem;
  left: 48rem;
  color: white;
  background: transparent;
  font-family: Helvetica, sans-serif;
}
#p2 > span:nth-child(1) {
  font-size: 2.8rem;
  color: #ccff00;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 2rem;
  
}
#p2 > span:nth-child(3) {
  font-size: 2.8rem;
  color: #fffff1;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 3rem;
  line-height: 3rem;
}
#p2 > span:nth-child(5) {
  font-size: 1rem;
  color: #fffff1ed;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 4.5rem;
  line-height: 0.45rem;
}
#p2 > span:nth-child(7) {
  background: transparent;
  position: relative;
  z-index: 1;
  top: 6.5rem;
}
#p2 > span:nth-child(9) {
  font-size: 0.8em;
  color: #bfbfbf;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 19.5rem;
}
#flink {
  text-decoration: underline;
  color: #bfbfbf;
}
#main3 {
 height: 116vh;
 width: 100%;
 background: url('assets/bg3.jpg') no-repeat;
 background-position: center;
 background-size: cover;
 margin: 0;
}
#p3 {
  position: absolute;
  top: 133rem;
  left: 48rem;
  color: white;
  background: transparent;
  font-family: Helvetica, sans-serif;
}
#p3 > span:nth-child(1) > img, #p3 > span:nth-child(1) {
  background: transparent; 
}
#featherLogo {
  width: 2rem;
}
#onlyRobinhoodLogo {
  width: 9rem;
}
#p3 > span:nth-child(3) {
  font-size: 2.5rem;
  color: #000000;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 2rem;
  line-height: 3rem;
}
#p3 > span:nth-child(5) {
  font-size: 1rem;
  color: #000000ed;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 3.25rem;
  line-height: 0.45rem;
}
#p3 > span:nth-child(7) {
  background: transparent;
  position: relative;
  z-index: 1;
  top:4rem;
  font-size: 0.75rem;
 color: #5d5959;
}
#p3 > span:nth-child(7) > img {
  background: transparent;
}
#p3 > span:nth-child(9) {
  background: transparent;
}
#p3 > span:nth-child(9) > a > input[type="button"] {
  color: rgb(255, 255, 255);
  border-radius: 36px;
  background-color: #000000;
  padding: 0.75rem 2.25rem 0.75rem 2.25rem;
  font-size: 1rem;
  border: 0.075rem solid #000000;
  position: relative;
  z-index: 1;
  top: 5.5rem;
}
#p3 > span:nth-child(11) {
  font-size: 0.8em;
  color: #434242ed;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 19rem;
}
#main4 {
 height: 116vh;
 width: 100%;
 background: url('assets/bg4.jpeg') no-repeat;
 background-position: center;
 background-size: cover;
 margin: 0;
}
#p4 {
  position: absolute;
  top: 195rem;
  left: 13.75rem;
  color: white;
  background: transparent;
  font-family: Helvetica, sans-serif;
}
#p4 > span:nth-child(1) > img, #p4 > span:nth-child(1) {
  background: transparent; 
}
#p4 > span:nth-child(1) > img {
  width: 11rem;
}
#strat {
  position: relative;
  top: -0.5rem;
  font-size: 1.9rem;
  font-weight: lighter;
  background: transparent;
}
#p4 > span:nth-child(3) {
  font-size: 2.5rem;
  color: #ffffff;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 1.8rem;
  line-height: 3rem;
}
#p4 > span:nth-child(5) {
  font-size: 1rem;
  color: #eeececed;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 4rem;
  line-height: 0.45rem;
}
#p4 > span:nth-child(7) {
  background: transparent;
  position: relative;
  z-index: 1;
  top: 4.5rem;
}
#p4 > span:nth-child(9) {
  background: transparent;
}
#p4 > span:nth-child(9) > a > input[type="button"] {
  background-color: #ccff00;
  color: #000;
  border: 0.075rem solid #ccff00;
  border-radius: 36px;
  padding: 0.75rem 2.25rem 0.75rem 2.25rem;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  top: 6.15rem;
}
#p4 > span:nth-child(11) {
  font-size: 0.8em;
  color: #373535;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 11.15rem;
}
#main5 {
 height: 162.1vh;
 width: 100%;
 background-color: #1f1a12;
 background-position: center;
 background-size: cover;
 margin: 0;
}
#p5 > span, #p5 > span > span, #p5 > span > span > img {
  background-color: transparent;
  font-size: 1.3rem;
}
#p5 {
  text-align: center;
  color: white;
  background: transparent;
  font-family: Helvetica, sans-serif;
}
#p5 > span:nth-child(1) {
  font-size: 3rem;
  color: #ffffff;
  background: transparent;
  word-spacing: -0.05rem;
  position: relative;
  z-index: 1;
  top: 4.5rem;
  line-height: 4rem;
}
#p5 > span:nth-child(3) > a > input[type="button"] {
  color: rgb(255, 255, 255);
  border-radius: 36px;
  background-color: transparent;
  padding: 0.75rem 2.15rem 0.75rem 2.15rem;
  font-size: 1rem;
  border: 0.075rem solid #ffffff;
  position: relative;
  z-index: 1;
  top: 8.65rem;
}
#p5 > span:nth-child(5) {
  font-size: 0.8em;
  color: #bfbfbfed;
  background: transparent;
  word-spacing: -0.1rem;
  position: relative;
  z-index: 1;
  top: 15rem;
}
#p5 > span:nth-child(5) > span:nth-child(1) {
  position: relative;
  right: 10.25rem;
}
#p5 > span:nth-child(5) > span:nth-child(3) {
  position: relative;
  top: -17.25rem;
  left: 10.25rem;
}
#p5 > span:nth-child(5) > span:nth-child(5) {
  position: relative;
  top: -9.5rem;
  right: 10.25rem;
}
#p5 > span:nth-child(5) > span:nth-child(7) {
  position: relative;
  top: -26.75rem;
  left: 10.25rem;
}
#main6 {
 height: 94.625vh;
 width: 100%;
 background-color: #ccff00;
 background-position: center;
 text-align: center;
 margin: 0;
}
#p6, #p6 > span, #p6 > span > img, #p6 > span > a > input[type="button"] {
  background-color: transparent;
  color: #000;
  font-family: Helvetica, sans-serif;
}
#p6 > span:nth-child(1) {
  position: relative;
  top: 4.6rem;
  font-size: 3.05rem;
  line-height: 3.8rem;
  z-index: 1;
}
#p6 > span:nth-child(3) {
  position: relative;
  top: 6.3rem;
  font-weight: 100;
  z-index: 1;
}
#p6 > span:nth-child(5) > a > input[type="button"] {
  position: relative;
  top: 8.8rem;
  z-index: 1;
  background-color: #000000;
  color: #eeeeee;
  border: 0.075rem solid #000000;
  border-radius: 36px;
  padding: 0.75rem 1.9rem 0.75rem 1.9rem;
  font-size: 1rem;
}
#p6 > span:nth-child(7) > img {
  position: relative;
  top: 13.15rem;
  z-index: 1;
  width: 34.5%;
}
#main7 {
 height: 94.625vh;
 width: 100%;
 background-color: #000000;
 background-position: center;
 text-align: center;
 margin: 0 0 0 0;
}
#main7 > span, #main7 > span > a > input[type="button"] {
  background-color: transparent;
  color: #000;
  font-family: Helvetica, sans-serif;
}
#vid2 {
 height: 116vh;
 width: 100%;
 object-fit: cover;
}
#main7 > span:nth-child(2) {
  position: relative;
  top: -33.25rem;
  word-spacing: -0.4rem;
  letter-spacing: -0.035rem;
  line-height: 5rem;
  font-size: 4.9rem;
  font-family: Martina Plantijn, serif;
  z-index: 1;
  color: #ffffff;
}
#main7 > span:nth-child(4) > a > input[type="button"] {
  position: relative;
  top: -31.5rem;
  z-index: 1;
  border-radius: 36px;
  font-size: 1rem;
  background-color: #ccff00;
  color: #000;
  border: 0.075rem solid #ccff00;
  padding: 0.75rem 2.1rem 0.75rem 2.1rem;
}
.lists > li > a:hover {
  opacity: 75%;
  color: #000;
}
@media screen and (max-width: 310px) {
  #phone,
  #sec8,
  #btn1,
  #btn2 {
    position: absolute;
    visibility: hidden;
  }
}
@media screen and (min-width: 310px) and (max-width: 440px) {
  #phone,
  #btn2,
  #btn1 {
    position: absolute;
    visibility: hidden;
  }
}
@media screen and (min-width: 440px) and (max-width: 540px) {
  #phone,
  #btn1 {
    position: absolute;
    visibility: hidden;
  }
}
@media screen and (min-width: 540px) and (max-width: 1200px) {
  #phone {
    position: absolute;
    visibility: hidden;
  }
}